@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');




* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.general {
    height: auto;
    width: 800px;

}

.header {

    height: auto;
    width: 100%;


}

.header img {
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}


.text {

    height: auto;
    width: 90%;
}

.text .title {
    font-weight: bold;
    font-size: 24px;
}


p {
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

.a,
.b,
.c {


    width: 33.3333%;
    height: auto;
    text-align: center;
}


.a img,
.b img,
.c img {
    width: 60%;
}


.bold {
    font-weight: bold;
}

.blue,
a {
    color: #023d84;
}

.s {
    font-size: 13px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #057c69;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #4f5251;
}

.brand a {
    font-size: 12px;
    color: #ffffff;
}

.brand .text {
    width: 90%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .general {
        width: 600px !important;
    }

    .a img,
.b img,
.c img {
    width: 70%;
}
}

@media only screen and (max-width: 600px) {
    .general {
        width: 100% !important;
    }

    .a img,
.b img,
.c img {
    width: 90%;
}

}